# Dependencies
node_modules/
.venv/
env/
venv/
ENV/
bin/
lib/
include/
obj/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
backend/unitrack.db
backend/test.db

# Build
**/dist/
**/build/
.vercel

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
